<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stomp-websocket@2.3.4-next/lib/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Websocket</title>
    <style>
        .container {
            display: flex;
        }

        div {
            padding: 10px;
        }

        .container div {
            width: 80%;
            height: 80%;
            /*border: 1px solid blue;*/
        }

        .message-displaying {
            border-left: 1px solid #000;
        }
    </style>
</head>
<body>
<button onclick="connect()">Connect</button>
<br>
<button onclick="subscribe_to_chat_messages()">Subscribe</button>
<br>
<br>
<div class="container">
    <div class="message-sending">
        <div class="message">
            <label for="name">
                Name: <input type="text" id="name">
            </label>
            <br>
            <br>
            <label for="content">
                Content: <input type="text" id="content">
            </label>
            <br>
            <br>
            <button onclick="send_message()">Send</button>
        </div>
    </div>
    <div class="message-displaying">
        <ul id="messages-content">
            <li>Messages:</li>
        </ul>
    </div>
</div>
<script>
    let stompClient = null

    function connect() {
        let socket = new SockJS('http://localhost:8080/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, frame => {
            console.log('Connected [', frame, ']')
        });

    }

    function subscribe_to_chat_messages() {
        stompClient.subscribe('/chat/messages', message => {
            console.log('Subscribed to \'/messages\'');
            const parsed_message = JSON.parse(message.body);
            show_message(parsed_message);
        })
    }

    function show_message(message) {
        console.log(message);
        $('#messages-content').append('<li>' + message.sender + ': ' + message.content + '</li>')
    }

    function send_message() {
        const sender = $('#name').val();
        const content = $('#content').val();
        var body = JSON.stringify({
            sender: sender,
            content: content
        });
        console.log('body', body)

        stompClient.send(
            '/app/messages',
            {},
            body
        )
    }
</script>
</body>
</html>